.spring-village-header {
  margin-bottom: 10px;
}

.spring-village-container {
  padding: 24px;
  height: 100%;
  .ant-table-body {
    height: calc(100vh - 300px);
  }
}

.ant-layout-content {
  overflow-y: hidden;
}


.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}



