<div class="statistics-container">
  <div nz-row [nzGutter]="0" style="width: 100%;">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Total Case" style="margin-right: 20px" [nzHoverable]="true">
        <nz-statistic
          [nzValue]="(1128 | number: '1.0-2')!"
          [nzTitle]=""
          [nzPrefix]="prefixTplOne"
          [nzSuffix]=""
          [nzValueStyle]="{ color: '#3F8600' }"
        ></nz-statistic>
        <ng-template #prefixTplOne><i nz-icon nzType="check"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Active case" style="margin-right: 20px" [nzHoverable]="true">
        <nz-statistic
          [nzValue]="(86 | number: '1.0-2')!"
          [nzTitle]=""
          [nzPrefix]="prefixTplTwo"
          [nzSuffix]="''"
          [nzValueStyle]="{ color: '#01162a' }"
        ></nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon [nzType]="'sync'" [nzSpin]="true"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Closed Scale" style="margin-right: 20px" [nzHoverable]="true">
        <nz-statistic
          [nzValue]="(31 | number: '1.0-2')!"
          [nzTitle]=""
          [nzPrefix]="prefixTplThere"
          [nzSuffix]="'%'"
          [nzValueStyle]="{ color: '#01162a' }"
        ></nz-statistic>
        <ng-template #prefixTplThere><i nz-icon nzType="bar-chart"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Staff" [nzHoverable]="true">
        <nz-statistic
          [nzValue]="(66| number: '1.0-2')!"
          [nzTitle]=""
          [nzPrefix]="prefixTplFour"
          [nzSuffix]=""
          [nzValueStyle]="{ color: '#CF1322' }"
        ></nz-statistic>
        <ng-template #prefixTplFour><i nz-icon nzType="user"></i></ng-template>
      </nz-card>
    </div>
  </div>

  <div nz-row [nzGutter]="0" style="width: 100%; margin-top: 20px">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title" style="margin-right: 20px" [nzHoverable]="true">
        <div #echartsContainerLeft style="width: 100%; height: 280px"></div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title" style="margin-right: 20px" [nzHoverable]="true">
        <div #echartsContainerMid style="width: 100%; height: 280px"></div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title" [nzHoverable]="true">
        <div #echartsContainerRight style="width: 100%; height: 280px"></div>
      </nz-card>
    </div>
  </div>

  <nz-card style="width: 100%; margin-top: 20px" [nzHoverable]="true">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1" (nzSelectChange)="tabChange($event)">
        <nz-tab nzTitle="chart1"></nz-tab>
        <nz-tab nzTitle="chart2"></nz-tab>
        <nz-tab nzTitle="chart3"></nz-tab>
      </nz-tabset>
    </nz-card-tab>
    <div #echartsContainer style="width: 100%; height: 400px"></div>
  </nz-card>
</div>
