.caseDetail {
    height: 100%;
    padding: 15px;
    .caseList {
        height: 100%;
        .btns {
            position: relative;
            .add {
                position: absolute;
                right: 0px;
            }
        }
        .table {
            margin-top: 15px;
        }
    }
}
.ant-table-body {
  height: calc(100vh - 300px) !important;
}
