<nz-table
  #nzTable
  nzShowSizeChanger
  nzSize="small"
  [nzData]="listData"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzScroll]="{ y: 'calc(100vh - 300px)' }"
  (nzQueryParams)="springVillageService.onQueryParamsChange($event, this)"
>
  <thead>
  <tr>
    <th nzCustomFilter nzColumnKey="location" [nzSortFn]="true">
      Location
      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th nzColumnKey="number" [nzSortFn]="true" [nzFilterFn]="true">Number</th>
    <th nzColumnKey="facility" [nzSortFn]="true" [nzFilterFn]="true">Facility</th>
    <th nzColumnKey="available" [nzSortFn]="true" [nzFilterFn]="true">Available</th>
    <th nzColumnKey="tenant" [nzSortFn]="true">Tenant</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listData">
    <td><a>{{ data.location }}</a></td>
    <td>{{ data.number }}</td>
    <td>{{ data.facility }}</td>
    <td>{{ data.available ? 'Yse' : 'No' }}</td>
    <td>{{ data.tenant }}</td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
